{% extends 'home.html' %}


{% block content %}
<div class='container-fluid' style="margin-top: 30px">
    <div class='row'>
        <div class='col-sm-4'></div>
        <div class='col-sm-4'>
            <h2>Logout</h2>
            <a href={% url 'login' %}>Login</a>
            <br>
            <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
            <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
        </div>
    </div>
</div>
{% endblock %}